@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Smooch+Sans:wght@100..900&display=swap');

:root{

   --blue:#34536D;
   --purpel: #8E70B1;
   --lightpink:#E78EF5;
   --lightgrey:#635c5c;
   --darkgrey:#333131;
   --white:#f8f3f3;

}
main{
    font-family: "Merienda";
}

h1{
   font-family: "Merienda";
   color: black; 
   background-color:var(--blue) ;
}

//BUTTONS
button{
    border:5px solid #333131;
}
#Huske{
    border-style:solid;
    background-color: #333131;
    color:white:
}