@import url('https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&display=swap');
:root{

   --blue:#34536D;
   --purpel: #8E70B1;
   --lightpink:#E78EF5;
   --lightgrey:#635c5c;
   --darkgrey:#333131;
   --white:#f8f3f3;
}

main{
   font-family: "Gorditas", serif;
     font-weight: 400;
   }

h1{
 font-family: "Gorditas", serif;
   text-align: center;
   color: black; 
   background-color:var(--lightpink) ;
   }
 h2{
     font-family: "Gorditas", serif;
 }  
div input{
    gap: 1rem;
    font-family: "Gorditas", serif;
}
input{
    font-family: "Gorditas", serif;
}
li{
    font-family: "Gorditas", serif;
}

/*BUTTONS*/

body.darkmode button {
    font-family: "Gorditas", serif;
    margin: 0.5rem;
    border:5px solid #333131;
    border-radius: 25px;
    gap: 1.5rem;
    background-color: #333131;
    color: #e8ebed;
}
div input.darkmode{
     color: #151414;
}

body.lightmode button {
    margin: 0.5rem;
    font-family: "Gorditas", serif;
    border:5px solid #333131;
    border-radius: 25px;
    gap: 1.5rem;
    background-color:#e8ebed;
    color: #111;
    border-color: #111;
}


/*BODY*/

body{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-style: solid;
    border-width: 10px ;
    border-color: #e81d90;
}

.darkmode > header h1{
    color:#e8ebed;
}
body.darkmode {
    background: linear-gradient(180deg, #34536D 10%, #8E70B1 30%, #e385f1 60%); 
    color: #e8ebed;
    
}
body.lightmode {
    background: #e385f1;
    color: #111;
    }
li{
   list-style: none; 
}
/*FOOTER*/

footer{
background-color: var(--lightpink);


}
/*Media*/

    @media (min-width: 600px){
     
    }

body.darkmode input {
    background-color: #34536D ;
    color:#e8ebed;
    border: 2px solid #8E70B1;
}