@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Smooch+Sans:wght@100..900&display=swap');

:root{

   --blue:#34536D;
   --purpel: #8E70B1;
   --lightpink:#E78EF5;
   --lightgrey:#635c5c;
   --darkgrey:#333131;
   --white:#f8f3f3;

}
main{
    font-family: "Merienda";

}

body{
border-style: solid;
border-width: 5px ;
border-color: #e81d90;
}

h1{
   font-family: "Merienda";
   text-align: center;
   color: black; 
   background-color:var(--blue) ;
}
div input{
    gap: 1rem;
    font-family: "Merienda";
}

/*BUTTONS*/
button {
    margin: 1.5rem;
    font-family: "Merienda";
    border:5px solid #333131;
    gap: 1.5rem;

}
#MakeNewList {
    border-style:solid;
    background-color: #e81d90;
    color:white;
}

/* #Maincontainer {
    background-color: red;
} */

body.darkmode {
    background: #34536D, #8E70B1, #E78EF5; 
    color: #ebe4e4;
}
body.lightmode {
    background: #e8e5e5;
    color: #111;
}